* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'PT Serif', serif;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background-color: lightslategrey;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin: 0 auto;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

img {
  max-width: 128px;
  -webkit-filter: invert(1);
          filter: invert(1);
}

button {
  background: none;
}

input {
  padding: 20px 30px;
  width: 600px;
  font-size: 30px;
  color: #4b586b;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 2px 2px #425770;
          box-shadow: 5px 5px 2px 2px #425770;
  -webkit-transition: -webkit-box-shadow 0.7s;
  transition: -webkit-box-shadow 0.7s;
  transition: box-shadow 0.7s;
  transition: box-shadow 0.7s, -webkit-box-shadow 0.7s;
  margin: 0px 0px 15px 25px;
  display: none;
}

input:focus {
  -webkit-box-shadow: 5px 5px 2px 2px #425770,
 0px 0px 10px 5px white;
          box-shadow: 5px 5px 2px 2px #425770,
 0px 0px 10px 5px white;
}

p {
  color: white;
  font-size: 16px;
  margin: 5px 0px 0px 35px;
  display: none;
}

.hidden {
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
  display: block;
}
